.image_container {
    display: flex;
    justify-content: center;
    position: relative;
    background: transparent;
}
.image_outline {
    background-color: rgb(0,0,0,0.02);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0.7px rgb(26,26,46, 0.9) inset;
}
.main_ui {
    position: relative;
    margin: 50px;
    max-width: 1200px;
    border-radius: 5px;
    box-shadow: 0px 0px 55px 5px rgb(9, 9, 14, 0.1);
}