
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main_section {
    width: 100%;
    /* height: 500px; */
}
.main_information {
    margin-left: 0;
    left: 0px;
    width: 100%;
    height: 600px;
    margin-top: -200px;
    /* top: 50px; */
    position: absolute;
    /* background-color: ; */
    /* background-image: linear-gradient(red, yellow); */
    /* box-shadow: inset 0 0 15px rgb(14,15,25); */
}
.information_container {
    position: absolute;
    margin-left: 0;
    left: 0px;
    width: 100%;
    height: 600px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(rgb(37,36,53), rgb(12,13,18));
     */
    background-image: linear-gradient(to bottom, rgb(12,13,18) 10%, rgb(40,39,63));
    /* background-color: black; */
    
    /* background: transparent; */
    /* float: left; */
    /* background-color: orange; */
}
.information {
    margin-top: 300px;
    float: left;
    width: 550px;
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
    background: transparent;
}
.information h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size:50px;
    background: transparent;
    color: white;
}
.information p {
    margin-top: 15px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:24px;
    background: transparent;
    color: rgb(240,240,240, 0.87);
}